body {
  font-family: "Roboto Condensed", sans-serif;
  margin: 0px;
  background-color: honeydew;
}
table tr td {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
}
.textBox {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
}
.textBox {
  font-size: 16px;
  padding: 3px;
  background-color: bisque;
}
.textBoxErr {
  font-size: 12px;
  padding: 3px;
  border: 1px solid darkred;
  background-color: bisque;
}
